footer {
  background: color(bg-light);

  .wrapper {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;

    .logo {
      color: color(black);
      font-size: 1.5rem;
      font-weight: weight(bold);
      letter-spacing: 1px;
      margin-left: 105px;

      @include tablet {
        margin: 0;

        @include mobileM {
          font-size: 1.3rem;

          @include mobileM {
            font-size: 1rem;
          }
        }
      }
    }

    .social {
      display: flex;
      justify-content: flex-end;
      width: 92%;

      @include tablet {
        margin-left: auto;
        justify-content: space-between;
        width: 70%;

        @include mobileL {
          width: 60%;

          @include mobileM {
            width: 70%;
          }
        }
      }

      li {
        margin-right: 80px;

        @include tablet {
          margin: 0;
        }

        &:last-child {
          margin-right: 124px;

          @include tablet {
            margin: 0;
          }
        }

        a {
          color: color(txt-dark);
          font-size: 0.9rem;
          font-weight: weight(regular);
          letter-spacing: 1px;
          position: relative;
          @include link-border;

          @include mobileL {
            font-size: 0.7rem;
          }

          &:hover {
            color: color(black);
          }

          &:before,
          &:after {
            width: 0%;
            background: color(black);
          }

          &:after {
            width: 30%;
            background: color(bg-light);
          }
        }
      }
    }
  }

  .copyright {
    border-top: 1px solid rgba(color(black), 0.2);
    text-align: center;
    padding: 20px 0;

    p {
      color: rgba(color(txt-dark), 0.8);
      font-size: 0.9rem;

      @include mobileM {
        font-size: 0.6rem;
      }
    }
  }
}
